#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_MAIN_FORM DIALOG 0, 0, 294, 238
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Sudoku - 'type'"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "SOLVER", 81, 8, 7, 277, 203, 0, WS_EX_LEFT
    PUSHBUTTON      "Rezolva", 82, 9, 216, 55, 14, 0, WS_EX_LEFT   
	CTEXT        "", 0, 16, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 1, 45, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 2, 75, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 3, 105, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 4, 135, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 5, 164, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 6, 194, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 7, 224, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 8, 254, 20, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 9, 16, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 10, 45, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 11, 75, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 12, 105, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 13, 135, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 14, 164, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 15, 194, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 16, 224, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 17, 254, 42, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 18, 16, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 19, 45, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 20, 75, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 21, 105, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 22, 135, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 23, 164, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 24, 194, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 25, 224, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 26, 254, 62, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 27, 16, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 28, 45, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 29, 75, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 30, 105, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 31, 135, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 32, 164, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 33, 194, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 34, 224, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 35, 254, 82, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 36, 16, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 37, 45, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 38, 75, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 39, 105, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 40, 135, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 41, 164, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 42, 194, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 43, 224, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 44, 254, 102, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 45, 16, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 46, 45, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 47, 75, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 48, 105, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 49, 135, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 50, 164, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 51, 194, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 52, 224, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 53, 254, 123, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 54, 16, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 55, 45, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 56, 75, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 57, 105, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 58, 135, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 59, 164, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 60, 194, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 61, 224, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 62, 254, 144, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 63, 16, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 64, 45, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 65, 75, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 66, 105, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 67, 135, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 68, 164, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 69, 194, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 70, 224, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 71, 254, 164, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 72, 16, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 73, 45, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 74, 75, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 75, 105, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 76, 135, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 77, 164, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 78, 194, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 79, 224, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
	CTEXT        "", 80, 254, 185, 23, 16, WS_BORDER | SS_CENTER, WS_EX_LEFT
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_GAMETYPE_FORM DIALOG 0, 0, 118, 114
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Sudoku"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Alege un mod de joc:", 0, 23, 13, 90, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "EASY", 10, 31, 32, 50, 18, 0, WS_EX_LEFT
    PUSHBUTTON      "MEDIUM", 11, 31, 53, 50, 18, 0, WS_EX_LEFT
    PUSHBUTTON      "HARD", 12, 31, 75, 50, 18, 0, WS_EX_LEFT
	LTEXT           "Serban Marin-Eusebiu", 0, 3, 97, 70, 9, SS_LEFT, WS_EX_LEFT
	LTEXT           "Ceolca Paul-Robert", 0, 4, 105, 70, 9, SS_LEFT, WS_EX_LEFT
}
